html

  head
    include meta.pug

    style
      include index.css

  body

    #canvas

    #rectangle
      #shareme
        | Share
        include fb-icon.svg

    #hint Draw a rectangle

    script
      include index.js

    script
      |var gaClientId='#{gaClientId}';
      if gaClientId
        include ga.js