html

  head
    include meta.pug

    style.
      body, html {
        margin: 0;
        padding: 0;
        background-color: black;
        height: 100%;
        width: 100%;
      }
      .img {
        display: block;
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

    script.
      window.onload = function () {
        setTimeout(function () {
          window.location.href = 'http://' + window.location.host.toString()
        }, 3000)
      }

    script
      |var gaClientId='#{gaClientId}';
      if gaClientId
        include ga.js

  body

    a.img(style='background-image: url("' + imageUrl + '")' href='/')
